
<table class="table table-striped my-4">
    <thead>
        <tr style="background-color:#3F729B;">
            <th scope="col" style="color: white;" class="h5">Be Always up To Date</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row" class="h5">Contact</th>
            <td class="h5">{{listdata.number}}</td>

        </tr>
        <tr>
            <th scope="row" class="h5">TollFree-Number</th>
            <td class="h5">1075</td>

        </tr>
        <tr>
            <th scope="row" class="h5">Email</th>
            <td class="h5">{{listdata.email}}</td>

        </tr>
    </tbody>
</table>
<div style="justify-content: center;">
    <h1 class="display-2" style="color: #3F729B;">Statewise Information</h1>
</div>
<hr />

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class=""
                style="box-shadow: 0px 5px 10px 0px;margin-top: 20px; width: 310px;height: 280px;margin-bottom: 10px;">
                <div class="z-depth-2 py-4" style="height: 200px;"><img class="image" src="./assets/andhra.jpg"></div>
                <table mdbTable striped="true" style="width: 310px;">
                    <tbody>
                        <tr mdbTableCol>
                            <td>
                                <h5>{{listcont[0].loc}}</h5>
                            </td>
                            <td>
                                <h6>{{listcont[0].number}}</h6>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-sm">
            <div style="box-shadow: 0px 5px 10px 0px;margin-top: 20px; width: 310px;height: 280px;margin-bottom: 10px;">
                <div class="color-block blue-gradient z-depth-2 py-4 text-center white-text" style="height: 200px;"><img
                        src="./assets/arunachal.jpg" class="image"></div>

                <table mdbTable striped="true" style="width: 310px;">
                    <tbody>
                        <tr mdbTableCol>
                            <td>
                                <h5>{{listcont[1].loc}}</h5>
                            </td>
                            <td>
                                <h6>{{listcont[1].number}}</h6>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm">
            <div style="box-shadow: 0px 5px 10px 0px;margin-top: 20px; width: 310px;height: 280px;margin-bottom: 10px;">
                <div class="color-block blue-gradient z-depth-2 py-4 text-center white-text" style="height: 200px;"><img
                        src="./assets/assam.jpg" class="image"></div>

                <table mdbTable striped="true" style="width: 310px;">
                    <tbody>
                        <tr mdbTableCol>
                            <td>
                                <h4>{{listcont[2].loc}}</h4>
                            </td>
                            <td>
                                <h5>{{listcont[2].number}}</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div style="box-shadow: 0px 5px 10px 0px;margin-top: 20px; width: 310px;height: 270px;margin-bottom: 10px;">
                <div class="color-block blue-gradient z-depth-2 py-4 text-center white-text" style="height: 200px;"><img
                        src="./assets/bihar.jpg" class="image"></div>

                <table mdbTable striped="true" style="width: 310px;">
                    <tbody>
                        <tr mdbTableCol>
                            <td>
                                <h4>{{listcont[3].loc}}</h4>
                            </td>
                            <td>
                                <h5>{{listcont[3].number}}</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm">
            <div style="box-shadow: 0px 5px 10px 0px;margin-top: 20px; width: 310px;height: 270px;margin-bottom: 10px;">
                <div class="color-block blue-gradient z-depth-2 py-4 text-center white-text" style="height: 200px;"><img
                        src="./assets/chattishgarh.webp" class="image"></div>
                <table mdbTable striped="true" style="width: 310px;">
                    <tbody>
                        <tr mdbTableCol>
                            <td>
                                <h4>{{listcont[4].loc}}</h4>
                            </td>
                            <td>
                                <h5>{{listcont[4].number}}</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm">
            <div style="box-shadow: 0px 5px 10px 0px;margin-top: 20px; width: 310px;height: 270px;margin-bottom: 10px;">
                <div class="color-block blue-gradient z-depth-2 py-4 text-center white-text" style="height: 200px;"><img
                        src="./assets/goa.jpg" class="image"></div>

                <table mdbTable striped="true" style="width: 310px;">
                    <tbody>
                        <tr mdbTableCol>
                            <td>
                                <h4>{{listcont[5].loc}}</h4>
                            </td>
                            <td>
                                <h5>{{listcont[5].number}}</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- <h1>End 456</h1> -->
<hr />
<!-- <h1>789</h1> -->
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div style="box-shadow: 0px 5px 10px 0px;margin-top: 20px; width: 310px;height: 270px;margin-bottom: 10px;">
                <div class="color-block blue-gradient z-depth-2 py-4 text-center white-text" style="height: 200px;"><img
                        src="./assets/gujarat.jpeg" class="image"></div>

                <table mdbTable striped="true" style="width: 310px;">
                    <tbody>
                        <tr mdbTableCol>
                            <td>
                                <h4>{{listcont[6].loc}}</h4>
                            </td>
                            <td>
                                <h5>{{listcont[6].number}}</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm">
            <div style="box-shadow: 0px 5px 10px 0px;margin-top: 20px; width: 310px;height: 270px;margin-bottom: 10px">
                <div class="color-block blue-gradient z-depth-2 py-4 text-center white-text" style="height: 200px;"><img
                        src="./assets/haryana.jpg" class="image"></div>

                <table mdbTable striped="true" style="width: 310px;">
                    <tbody>
                        <tr mdbTableCol>
                            <td>
                                <h4>{{listcont[7].loc}}</h4>
                            </td>
                            <td>
                                <h5>{{listcont[7].number}}</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm">
            <div style="box-shadow: 0px 5px 10px 0px;margin-top: 20px; width: 310px;height: 270px;margin-bottom: 10px;">
                <div class="color-block blue-gradient z-depth-2 py-4 text-center white-text" style="height: 200px;"><img
                        src="./assets/himachal.jpg" class="image"></div>
                <table mdbTable striped="true" style="width: 310px;">
                    <tbody>
                        <tr mdbTableCol>
                            <td>
                                <h4>{{listcont[8].loc}}</h4>
                            </td>
                            <td>
                                <h5>{{listcont[8].number}}</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div style="box-shadow: 0px 5px 10px 0px;margin-top: 20px; width: 310px;height: 270px;margin-bottom: 10px;">
                <div class="color-block blue-gradient z-depth-2 py-4 text-center white-text" style="height: 200px;"><img
                        src="./assets/jharkhand.jpg" class="image"></div>

                <table mdbTable striped="true" style="width: 310px;">
                    <tbody>
                        <tr mdbTableCol>
                            <td>
                                <h4>{{listcont[9].loc}}</h4>
                            </td>
                            <td>
                                <h5>{{listcont[9].number}}</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm">
            <div style="box-shadow: 0px 5px 10px 0px;margin-top: 20px; width: 310px;height: 270px;margin-bottom: 10px;">
                <div class="color-block blue-gradient z-depth-2 py-4 text-center white-text" style="height: 200px;"><img
                        src="./assets/karnataka.jpg" class="image"></div>
                <table mdbTable striped="true" style="width: 310px;">
                    <tbody>
                        <tr mdbTableCol>
                            <td>
                                <h4>{{listcont[10].loc}}</h4>
                            </td>
                            <td>
                                <h5>{{listcont[10].number}}</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm">
            <div style="box-shadow: 0px 5px 10px 0px;margin-top: 20px; width: 310px;height: 270px;margin-bottom: 10px;">
                <div class="color-block blue-gradient z-depth-2 py-4 text-center white-text" style="height: 200px;"><img
                        src="./assets/kerala.jpg" class="image"></div>

                <table mdbTable striped="true" style="width: 310px;">
                    <tbody>
                        <tr mdbTableCol>
                            <td>
                                <h4>{{listcont[11].loc}}</h4>
                            </td>
                            <td>
                                <h5>{{listcont[11].number}}</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div style="box-shadow: 0px 5px 10px 0px;margin-top: 20px; width: 310px;height: 270px;margin-bottom: 10px;">
                <div class="color-block blue-gradient z-depth-2 py-4 text-center white-text" style="height: 200px;"><img
                        src="./assets/madhya.jpg" class="image"></div>

                <table mdbTable striped="true" style="width: 310px;">
                    <tbody>
                        <tr mdbTableCol>
                            <td>
                                <h6>{{listcont[12].loc}}</h6>
                            </td>
                            <td>
                                <h6>{{listcont[12].number}}</h6>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm">
            <div style="box-shadow: 0px 5px 10px 0px;margin-top: 20px; width: 310px;height: 270px;margin-bottom: 10px;">
                <div class="color-block blue-gradient z-depth-2 py-4 text-center white-text" style="height: 200px;"><img
                        src="./assets/maharashtra.jpg" class="image"></div>

                <table mdbTable striped="true" style="width: 310px;">
                    <tbody>
                        <tr mdbTableCol>
                            <td>
                                <h6>{{listcont[13].loc}}</h6>
                            </td>
                            <td>
                                <h6>{{listcont[13].number}}</h6>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm">
            <div style="box-shadow: 0px 5px 10px 0px;margin-top: 20px; width: 310px;height: 270px;margin-bottom: 10px;">
                <div class="color-block blue-gradient z-depth-2 py-4 text-center white-text" style="height: 200px;"><img
                        src="./assets/manipur.jpg" class="image"></div>

                <table mdbTable striped="true" style="width: 310px;">
                    <tbody>
                        <tr mdbTableCol>
                            <td>
                                <h4>{{listcont[14].loc}}</h4>
                            </td>
                            <td>
                                <h5>{{listcont[14].number}}</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div style="box-shadow: 0px 5px 10px 0px;margin-top: 20px; width: 310px;height: 270px;margin-bottom: 10px;">
                <div class="color-block blue-gradient z-depth-2 py-4 text-center white-text" style="height: 200px;"><img
                        src="./assets/meghalaya.png" class="image"></div>

                <table mdbTable striped="true" style="width: 310px;">
                    <tbody>
                        <tr mdbTableCol>
                            <td>
                                <h4>{{listcont[15].loc}}</h4>
                            </td>
                            <td>
                                <h5>{{listcont[15].number}}</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm">
            <div style="box-shadow: 0px 5px 10px 0px;margin-top: 20px; width: 310px;height: 270px;margin-bottom: 10px;">
                <div class="color-block blue-gradient z-depth-2 py-4 text-center white-text" style="height: 200px;"><img
                        src="./assets/mizoram.jpg" class="image"></div>

                <table mdbTable striped="true" style="width: 310px;">
                    <tbody>
                        <tr mdbTableCol>
                            <td>
                                <h4>{{listcont[16].loc}}</h4>
                            </td>
                            <td>
                                <h5>{{listcont[16].number}}</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm">
            <div style="box-shadow: 0px 5px 10px 0px;margin-top: 20px; width: 310px;height: 270px;margin-bottom: 10px;">
                <div class="color-block blue-gradient z-depth-2 py-4 text-center white-text" style="height: 200px;"><img
                        src="./assets/nagaland.jpg" class="image"></div>

                <table mdbTable striped="true" style="width: 310px;">
                    <tbody>
                        <tr mdbTableCol>
                            <td>
                                <h4>{{listcont[17].loc}}</h4>
                            </td>
                            <td>
                                <h5>{{listcont[17].number}}</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<hr />

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div style="box-shadow: 0px 5px 10px 0px;margin-top: 20px; width: 310px;height: 270px;margin-bottom: 10px;">
                <div class="color-block blue-gradient z-depth-2 py-4 text-center white-text" style="height: 200px;"><img
                        src="./assets/odisha.jpg" class="image"></div>

                <table mdbTable striped="true" style="width: 310px;">
                    <tbody>
                        <tr mdbTableCol>
                            <td>
                                <h4>{{listcont[18].loc}}</h4>
                            </td>
                            <td>
                                <h5>{{listcont[18].number}}</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm">
            <div style="box-shadow: 0px 5px 10px 0px;margin-top: 20px; width: 310px;height: 270px;margin-bottom: 10px;">
                <div class="color-block blue-gradient z-depth-2 py-4 text-center white-text" style="height: 200px;"><img
                        src="./assets/punjab.jpg" class="image"></div>

                <table mdbTable striped="true" style="width: 310px;">
                    <tbody>
                        <tr mdbTableCol>
                            <td>
                                <h4>{{listcont[19].loc}}</h4>
                            </td>
                            <td>
                                <h5>{{listcont[19].number}}</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm">
            <div style="box-shadow: 0px 5px 10px 0px;margin-top: 20px; width: 310px;height: 270px;margin-bottom: 10px;">
                <div class="color-block blue-gradient z-depth-2 py-4 text-center white-text" style="height: 200px;"><img
                        src="./assets/rajasthan.jpg" class="image"></div>
                <table mdbTable striped="true" style="width: 310px;">
                    <tbody>
                        <tr mdbTableCol>
                            <td>
                                <h4>{{listcont[20].loc}}</h4>
                            </td>
                            <td>
                                <h5>{{listcont[20].number}}</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<hr />
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div style="box-shadow: 0px 5px 10px 0px;margin-top: 20px; width: 310px;height: 270px;margin-bottom: 10px;">
                <div class="color-block blue-gradient z-depth-2 py-4 text-center white-text" style="height: 200px;"><img
                        src="./assets/sikkim.jpg" class="image"></div>

                <table mdbTable striped="true" style="width: 310px;">
                    <tbody>
                        <tr mdbTableCol>
                            <td>
                                <h4>{{listcont[21].loc}}</h4>
                            </td>
                            <td>
                                <h5>{{listcont[21].number}}</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm">
            <div style="box-shadow: 0px 5px 10px 0px;margin-top: 20px; width: 310px;height: 270px;margin-bottom: 10px;">
                <div class="color-block blue-gradient z-depth-2 py-4 text-center white-text" style="height: 200px;"><img
                        src="./assets/tamilnadu.jpg" class="image"></div>

                <table mdbTable striped="true" style="width: 310px;">
                    <tbody>
                        <tr mdbTableCol>
                            <td>
                                <h5>{{listcont[22].loc}}</h5>
                            </td>
                            <td>
                                <h6>{{listcont[22].number}}</h6>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm">
            <div style="box-shadow: 0px 5px 10px 0px;margin-top: 20px; width: 310px;height: 270px;margin-bottom: 10px;">
                <div class="color-block blue-gradient z-depth-2 py-4 text-center white-text" style="height: 200px;"><img
                        src="./assets/telangana.jpg" class="image"></div>

                <table mdbTable striped="true" style="width: 310px;">
                    <tbody>
                        <tr mdbTableCol>
                            <td>
                                <h4>{{listcont[23].loc}}</h4>
                            </td>
                            <td>
                                <h5>{{listcont[23].number}}</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<hr />

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div style="box-shadow: 0px 5px 10px 0px;margin-top: 20px; width: 310px;height: 270px;margin-bottom: 10px;">
                <div class="color-block blue-gradient z-depth-2 py-4 text-center white-text" style="height: 200px;"><img
                        src="./assets/tripura.jpg" class="image"></div>

                <table mdbTable striped="true" style="width: 310px;">
                    <tbody>
                        <tr mdbTableCol>
                            <td>
                                <h4>{{listcont[24].loc}}</h4>
                            </td>
                            <td>
                                <h5>{{listcont[24].number}}</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm">
            <div style="box-shadow: 0px 5px 10px 0px;margin-top: 20px; width: 310px;height: 270px;margin-bottom: 10px;">
                <div class="color-block blue-gradient z-depth-2 py-4 text-center white-text" style="height: 200px;"><img
                        src="./assets/uttarakhand.jpg" class="image"></div>

                <table mdbTable striped="true" style="width: 310px;">
                    <tbody>
                        <tr mdbTableCol>
                            <td>
                                <h4>{{listcont[25].loc}}</h4>
                            </td>
                            <td>
                                <h5>{{listcont[25].number}}</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm">
            <div style="box-shadow: 0px 5px 10px 0px;margin-top: 20px; width: 310px;height: 270px;margin-bottom: 10px;">
                <div class="color-block blue-gradient z-depth-2 py-4 text-center white-text" style="height: 200px;"><img
                        src="./assets/uttarpradesh.jpg" class="image"></div>

                <table mdbTable striped="true" style="width: 310px;">
                    <tbody>
                        <tr mdbTableCol>
                            <td>
                                <h5>{{listcont[26].loc}}</h5>
                            </td>
                            <td>
                                <h6>{{listcont[26].number}}</h6>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<hr />
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div style="box-shadow: 0px 5px 10px 0px;margin-top: 20px; width: 310px;height: 300px;margin-bottom: 10px;">
                <div class="color-block blue-gradient z-depth-2 py-4 text-center white-text" style="height: 200px;"><img
                        src="./assets/westbengal.png" class="image"></div>

                <table mdbTable striped="true" style="width: 310px;">
                    <tbody>
                        <tr mdbTableCol>
                            <td>
                                <h6>{{listcont[27].loc}}</h6>
                            </td>
                            <td>
                                <h6>{{listcont[27].number}}</h6>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm">
            <div style="box-shadow: 0px 5px 10px 0px;margin-top: 20px; width: 310px;height: 300px;margin-bottom: 10px;">
                <div class="color-block blue-gradient z-depth-2 py-4 text-center white-text" style="height: 200px;"><img
                        src="./assets/andaman.jpg" class="image"></div>

                <table mdbTable striped="true" style="width: 310px;">
                    <tbody>
                        <tr mdbTableCol>
                            <td>
                                <h4>{{listcont[28].loc}}</h4>
                            </td>
                            <td>
                                <h5>{{listcont[28].number}}</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm">
            <div style="box-shadow: 0px 5px 10px 0px;margin-top: 20px; width: 310px;height: 300px;margin-bottom: 10px;">
                <div class="color-block blue-gradient z-depth-2 py-4 text-center white-text" style="height: 200px;"><img
                        src="./assets/chandigarh.jpg" class="image"></div>

                <table mdbTable striped="true" style="width: 310px;">
                    <tbody>
                        <tr mdbTableCol>
                            <td>
                                <h4>{{listcont[29].loc}}</h4>
                            </td>
                            <td>
                                <h5>{{listcont[29].number}}</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div style="box-shadow: 0px 5px 10px 0px;margin-top: 20px; width: 310px;height: 270px;margin-bottom: 10px;">
                <div class="color-block blue-gradient z-depth-2 py-4 text-center white-text" style="height: 200px;"><img
                        src="./assets/dadra.jpg" class="image"></div>

                <table mdbTable striped="true" style="width: 310px;">
                    <tbody>
                        <tr mdbTableCol>
                            <td>
                                <h6>{{listcont[30].loc}}</h6>
                            </td>
                            <td>
                                <h6>{{listcont[30].number}}</h6>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm">
            <div style="box-shadow: 0px 5px 10px 0px;margin-top: 20px; width: 310px;height: 270px;margin-bottom: 10px;">
                <div class="color-block blue-gradient z-depth-2 py-4 text-center white-text" style="height: 200px;"><img
                        src="./assets/diu.jpg" class="image"></div>

                <table mdbTable striped="true" style="width: 310px;">
                    <tbody>
                        <tr mdbTableCol>
                            <td>
                                <h4>{{listcont[31].loc}}</h4>
                            </td>
                            <td>
                                <h5>{{listcont[31].number}}</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm">
            <div style="box-shadow: 0px 5px 10px 0px;margin-top: 20px; width: 310px;height: 270px;margin-bottom: 10px;">
                <div class="color-block blue-gradient z-depth-2 py-4 text-center white-text" style="height: 200px;"><img
                        src="./assets/delhi.jpg" class="image"></div>

                <table mdbTable striped="true" style="width: 310px;">
                    <tbody>
                        <tr mdbTableCol>
                            <td>
                                <h4>{{listcont[32].loc}}</h4>
                            </td>
                            <td>
                                <h5>{{listcont[32].number}}</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<hr />
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div style="box-shadow: 0px 5px 10px 0px;margin-top: 20px; width: 310px;height: 290px;margin-bottom: 10px;">
                <div class="color-block blue-gradient z-depth-2 py-4 text-center white-text" style="height: 200px;"><img
                        src="./assets/jk.jpg" class="image"></div>

                <table mdbTable striped="true" style="width: 310px;">
                    <tbody>
                        <tr mdbTableCol>
                            <td>
                                <h6>{{listcont[33].loc}}</h6>
                            </td>
                            <td>
                                <h6>{{listcont[33].number}}</h6>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm">
            <div style="box-shadow: 0px 5px 10px 0px;margin-top: 20px; width: 310px;height: 270px;margin-bottom: 10px;">
                <div class="color-block blue-gradient z-depth-2 py-4 text-center white-text" style="height: 200px;"><img
                        src="./assets/ladakh.jpg" class="image"></div>

                <table mdbTable striped="true" style="width: 310px;">
                    <tbody>
                        <tr mdbTableCol>
                            <td>
                                <h4>{{listcont[34].loc}}</h4>
                            </td>
                            <td>
                                <h5>{{listcont[34].number}}</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm">
            <div style="box-shadow: 0px 5px 10px 0px;margin-top: 20px; width: 310px;height: 270px;margin-bottom: 10px;">
                <div class="color-block blue-gradient z-depth-2 py-4 text-center white-text" style="height: 200px;"><img
                        src="./assets/lakshwadweep.jpg" class="image"></div>

                <table mdbTable striped="true" style="width: 310px;">
                    <tbody>
                        <tr mdbTableCol>
                            <td>
                                <h4>{{listcont[35].loc}}</h4>
                            </td>
                            <td>
                                <h5>{{listcont[35].number}}</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<hr />
<div class="container">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
            <div
                style="box-shadow: 0px 5px 10px 0px;margin-top: 20px; width: 310px;height: 270px;margin-bottom: 10px;margin-bottom: 20px;">
                <div class="color-block blue-gradient z-depth-2 py-4 text-center white-text" style="height: 200px;"><img
                        src="./assets/puducherry.png" class="image"></div>

                <table mdbTable striped="true" style="width: 310px;">
                    <tbody>
                        <tr mdbTableCol>
                            <td>
                                <h4>{{listcont[36].loc}}</h4>
                            </td>
                            <td>
                                <h5>{{listcont[36].number}}</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm"></div>
    </div>
</div>